.chat {
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    
}

.minimized {
    height: 50px;
    overflow: hidden;
}


  
.messages {
    height: 400px; /* set a fixed height */
    overflow-y: scroll; /* set overflow property to scroll */
  }
  
.message {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 20px;
}

.message p {
    background-color: #f1f0f0;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 0;
    border: 1px solid #ccc;
}

.message.system {
    color: #3c70db;
}

.user-image {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius:    50%;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0 4px;
}

.options-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0 4px;
}

.message-form {
    display: flex;
    gap: 10px;
}

.message-form input {
    flex-grow: 1;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    position: relative;
    top: -15px;
    left: -12px;
}

.message-form button {
    background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -15px;
    left: -12px;
}

.message-form button:hover {
    background-color: #1464c4;
}

.delete-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc
}