* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.share-files {
  position: relative;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');
  border: 1px solid #b3afaf;
  padding: 10px;
  border-radius: 15px;
  bottom:-120px;
  left:100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 1rem;
  padding: 15px 10px;
  background-color: #0070f3;
  border: gold;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: auto;
  
  transition: background-color 0.3s;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  position: flex;
}


button:hover {
  background-color: #0055cc;
}

.upload-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropzone {
  background-color: #f8f8f8;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: border-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropzone:hover {
  border-color: #0070f3;
}
.download-button{
  font-size: 1rem;
  padding: 8px 6px;
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');
  border: gold;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: auto;
  
  transition: background-color 0.3s;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.uploaded-files {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.shared-files-modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.shared-files-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
