@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.share-pdfs {
  position: relative;
  width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-175706.jpg?w=1380&t=st=1681704045~exp=1681704645~hmac=9838cc0c992f1222492d5abb9b481c253a56293a5869401b11469b868bae59dd');
  border-radius: 15px;

}


.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.share-pdfs-btn {
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.share-pdfs-btn:hover {
  background-color: #45a049;
}
.back{
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  padding: 4px 6px;
  margin: 2px;

}
.close{
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  padding: 4px 6px;
  margin: 2px;

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,  0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

.modal-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  position: sticky;
  top: 0;
}

.dropzone {
  width: 100%;
  height: 120px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');

  
}

.dropzone p {
  
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  
}

.uploaded-pdfs {
  
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.file {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
  
}

.file:hover {
  background-color: #d4d4d4;
}

.file-icon {
  font-size: 1.5rem;
  color: #000;
}

.file-name {
  margin-left: 10px;
  flex: 1;
}

.pdf-viewer {
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pdf-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.pdf-controls button {
  background-color: transparent;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.pdf-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pdf-controls button:hover:not(:disabled) {
  opacity: 0.8;
}

.pdf-controls span {
  font-size: 1rem;
  font-weight: 600;
}

.pdf-document {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.pdf-document iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.upload-options {
  width: 100%;
}

.uploaded-pdfs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:  20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;

}

.show-all {
  background-image: url('https://img.freepik.com/free-vector/abstract-blur-pink-blue-gradient-background-design_53876-120257.jpg?w=1060&t=st=1681703785~exp=1681704385~hmac=c4236e54d1079a9ef56eea383c4e7f950c170651b0f446b8c8e2d39bf8cde8ce');
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  margin-bottom: 20px;
}

.show-all:hover {
  background-color: #45a049;
}

.uploaded-pdfs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 300px;
  overflow-y: auto;
}

.file-icon {
  font-size: 1.5rem;
  color: #000;
}

.file-name {
  margin-left: 10px;
  flex: 1;
}


